<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.nlcaceres.infectionprevention">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:usesCleartextTraffic="true"
      android:label="@string/app_name"
      android:icon="@drawable/app_icon"
      android:theme="@style/AppTheme"
      android:allowBackup="true"
      android:supportsRtl="false">
    <!-- usesCleartext enables dev urls (allows http urls so TODO: Have different values for prod vs dev) -->

    <activity
        android:name=".ActivityMain"
        android:exported="true">
      <!-- Main Launcher activity's label serves as app icon label  -->

      <intent-filter>
        <!-- Main = launch point of activity. Launcher = Create an icon to be clicked for this app/(task related to app) -->
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <!-- Below = Useful for Google indexing + 'DeepLink'ing into app from web or other apps -->
        <!-- <action android:name="android.intent.action.VIEW"/> -->
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
    </activity>

    <activity android:name=".ActivityCreateReport"
        android:label=""
        android:parentActivityName=".ActivityMain"
        android:exported="true"> <!-- PreSDK 21/Android 4.0/IceCreamSandwich used Meta-Data tag instead -->
    </activity>

    <activity android:name=".ActivityReportList" android:parentActivityName=".ActivityMain"
        android:label=""
        android:exported="false"
        android:launchMode="singleTop"> <!-- Keeps it to a single instance of the activity -->

      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
      <meta-data android:name="android.app.searchable"
          android:resource="@xml/searchable"/>
      <!-- Could also have another activity start this one via search dialog (button) to display search results with
           meta-data default_searchable and val this activity name-->

    </activity>

    <activity android:name=".ActivitySortFilter"
      android:label=""
      android:parentActivityName=".ActivityReportList">

    </activity>

    <activity android:name=".ActivitySettings"
        android:label="@string/settings_label"
        android:parentActivityName=".ActivityMain">

    </activity>

  </application>

</manifest>